.header{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: 70px;
	line-height: 75px;
	background: #0091ff;
	position: fixed; /*fixer la position pour suivre le scroll*/
	top: 0; /* Place en 0 le header*/
	z-index: 999;
}

.header nav.header-menu{
	overflow: hidden;
}

.header nav.header-menu a{
	display: inline-block;
	float: none;
	position: relative;
	top: -4px;
	height: 70px;
	padding: 0px 30px 0 30px;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
}

.header nav.header-menu a:hover{
	color: orange;
}

.header nav.header-menu a.icon{
	display: none;
}

@media screen and (max-width: 600px) {
	.header nav.header-menu a:not(:first-child) {display: none;}
	.header nav.header-menu a.icon {
	  display: block;
	  float: right;
	}
  }

@media screen and (max-width: 600px){
	.header nav.header-menu.responsive{position: relative;}
	.header nav.header-menu.responsive a.icon{
		position: absolute;
		right: 0;
		top: -4px;
	}
	.header nav.header-menu.responsive a{
		display: block;
		float: none;
		text-align: left;
	}
	.header nav.header-menu.responsive a:not(:first-child,:last-child){
		background-color: green;
	}
}

/*banner*/
.banner{
	margin-top: -25px;
}

.banner .banner-image{
	position: relative;
}

.banner .banner-content{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 25%;
}

.banner-content h1,.banner-content h2{
	color: #FFFFFF;
}

.banner-content h2 a{
	font-weight: bold;
	color: #9000ff;
}

.banner-content h2 a:hover{
	color: #fffb00;
}
.button{
	background-color:#0091ff;
}
.button:hover{
	color: #FFFFFF;
	background-color: orange;
}

.contactez_moi{
	color: #FFFFFF;
}

.contactez_moi:hover{
	color: #FFFFFF;
}

/*about*/
#a_propos{
	padding: 30px 0 30px 0;
}
h2.subtitle.heading-site{
	text-align: center;
	font-family: 'Montserrat', sans-serif; 
}
.about .about-single-element i{
	font-size: 50px;
	text-align: center;
}

.about .about-single-element{
	text-align: center;
	border-left-style: solid;
}

.about .about-single-element p{
	text-align: left;
	margin-top: 20px;
}

/*Mon portfolio*/
#mes_projets{ 
	padding: 30px 0 30px 0;
	background-color: bisque;
}
.grid{
	display: grid;
	grid-template: repeat(1,1fr)/1fr 1fr 1fr;
	gap: 5px;
}

.grid-item{
	display: flex;
	justify-content: center;
	padding: 10px;
}

#two{
	background-color: rgb(237, 235, 235);
	border-radius: 10px;
	border: 2px solid;
}
#info2{
	background-color: rgb(237, 235, 235);
}

#descript2{
	color : black;
	font-size: 22px;
}

/*Footer*/
.demand{
	background-color: rgb(255, 255, 255);
	padding: 30px 30px 30px 30px;
	margin-top: -12px;
}

.container.info{
	margin-top: 0px;
	text-align: center;
}

.container.info ul{
	padding: 0;
}

.container.info ul li{
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
}

/*MODAL*/
.own_modal{
	top: 50px;
}

body{
	background-color: lightgrey;
}